.videomonitor {
    display: flex;
}

.videomonitor-operate {
    flex: 0 0 250px;
}

.videomonitor-video {
    flex: 1 1 auto;
}

.videomonitor-video {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.videomonitor-video>div {
    flex: 0 1 430px;
    padding: 10px;
    height: 300px;
    box-sizing: border-box;
}