@import '../dataMonitor_old/dataMonitor.scss';
@import '../dataMonitor_old/dataAnalyse.scss';

.control-operate {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 24px;
    height: 60px;
    margin-top: 40px;
    background-color: #FAFBFF;
    border: 1px solid #ECEAF3;
}