.button {
    display: inline-block;
    padding: 10px 44px;
    background-color: #5D3AB3;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}