.manage {
    margin-top: 24px;
}

.manage-content {
    margin: 0px 24px 33px;
}

.manage-operate-wrapper {
    margin: 25px 0px;
}

.k-select {
    text-decoration: underline;
    cursor: pointer;
}

.k-select:hover {
    color: #5D3AB3;
}